.gjs-css-rules, .gjs-js-cont {
    display: none;
}

.gjs-dashed {
    div {
        padding: 5px;
        min-height: 5rem;
    }

    a {
        padding: 5px;
    }

    [selectable="false"] {
        outline: none !important;
    }

    .edit_lock {
        *:not(.allowedit) {
            padding: initial;
            min-height: initial;
        }
    }

    [class*="container"] {
        margin: 5px auto;
    }

    .switch_control {
        display: flex !important;
    }

    .subpage_content::after {
        content: '\5b50\9801\9762\5167\5bb9';
        font-size: 2.5rem;
        font-weight: bold;
        color: #CCC;
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
    }
}

.edit_lock *:not(.allowedit), .catalog_frame *:not(.allowedit) {
    pointer-events: none !important;
    outline: none !important;
}

.edit_lock .allowedit {
    pointer-events: auto;
}

.gjs-dashed .edit_lock .allowedit {
    outline: 1px dashed rgba(170,170,170,0.7);
    padding: 0.5rem !important;
}

.subpage_content {
    background-color: #666;
    height: 100%;
    width: 100%;
    position: relative;
}

.backstageType {
    position: relative;

    &:before {
        content: "前台不顯示";
        font-size: 2rem;
        position: absolute;
        background-color: rgba(88,88,88,0.7);
        display: flex;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        pointer-events: none;
        align-items: center;
        justify-content: center;
        font-weight: 900;
        color: #FFF;
    }
}

.backstageLock {
    pointer-events: none;
    position: relative;

    &:before {
        font-family: 'Font Awesome 6 Free';
        content: "\f023";
        font-size: 2rem;
        position: absolute;
        background-color: rgba(88,88,88,0.7);
        display: flex;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        pointer-events: none;
        align-items: center;
        justify-content: center;
        font-weight: 900;
        color: #FFF;
    }
}
