
.price::before {
    content: '$';
}

.bg_fluorescent {
    background: yellow;
    font-weight: bold;
    line-height: 1.5rem;
    padding: 0 0.25rem;
}

/* Member List */
.btn_back {
    color: #4E565A;
}

/* Required Sign */
.required::before {
    color: var(--colors-red);
    content: '*';
}

.required::after {
    color: var(--colors-red);
    content: '\5fc5\586b';
    font-size: 0.5rem;
}

/* MemberData */
#MemberData > div > .member_number::before {
    content: "\6703\54e1\7de8\865f\ff1a"
}

#CommunityLoginBinding > .account > .frame > div > img {
    width: auto;
    height: 40px;
}

#CommunityLoginBinding > .account > .frame > div > button {
    font-size: 0.8rem;
}

/* SideBlock */
#SideBlock {
    max-width: 90vw;
}

    #SideBlock > div > .card > .card-body > a > div {
        width: fit-content;
    }

.latest_order > .order_data > div > .title {
    width: 4rem;
}

.latest_order > .order_data > a {
    bottom: 0.5rem;
}

    .latest_order > .order_data > a > div {
        width: fit-content;
    }

#SideBlock > .offcanvas-body > .card > .card-body > .remind {
    color: var(--colors-red-text);
    font-size: 0.75rem;
}

/* Btn Side Collapse */
#Btn_Side_Collapse {
    width: 2rem;
    top: 150px;
    background-color: white;
}

    #Btn_Side_Collapse > .above {
        border: 1rem solid white;
        border-top-color: transparent;
        border-left-color: transparent;
        top: -2rem;
    }

    #Btn_Side_Collapse > .under {
        border: 1rem solid white;
        border-bottom-color: transparent;
        border-left-color: transparent;
        bottom: -2rem;
    }
