
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type="number"] {
    -moz-appearance: textfield;
}

.z-index-up {
    z-index: 10;
}

/* Article List */
.btn_back {
    color: #4E565A;
}

.btn_add {
    z-index: 1;
}

/* Article Content */
#ArticleContent > .card-header {
    background-color: var(--color-gray-bg-dark);
}

#ArticleContent > form .placement > select {
    width: 8rem;
}

#ArticleContent > form > .title .title_count::after {
    content: '/60';
}

#ArticleContent > form > .sort > input {
    padding-left: 5.25rem;
    padding-right: 7.5rem;
}

#ArticleContent > form > .link > input {
    padding-left: 3.25rem;
    padding-right: 7.5rem;
}

#ArticleContent > form > .date > input {
    padding-left: 9rem;
    padding-right: 7.5rem;
}
