
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type="number"] {
    -moz-appearance: textfield;
}

.z-index-up {
    z-index: 10;
}

/* Product List */
#PriceModal > .modal-dialog {
    min-width: 40vw;
}

.modal-open .wrapper {
    transition: unset !important;
    filter: unset !important;
}

.modal_price > div > input {
    padding-left: 3rem;
}

/* Product List */
.btn_back {
    color: #4E565A;
}

.btn_add {
    z-index: 1;
}

/* Product Content */
#ProductContent > .card-header {
    background-color: var(--color-gray-bg-dark);
}

/* Product Form */
#ProductForm > div > div > .btn_input_pic {
    height: 3.5rem;
    width: 3.5rem;
    color: var(--bs-gray);
    border: 1px solid #ced4da;
    border: 1px solid var(--color-gray-bg-dark);
}

#ProductForm > .name .name_count::after {
    content: '/150';
}

#ProductForm > .introduction .introduction_count::after {
    content: '/3000';
}

#ProductForm > .illustrate .illustrate_count::after {
    content: '/3000';
}

#ProductForm > .marks > input {
    padding-left: 8.5rem;
}

#ProductForm > .tag > input {
    padding-left: 4.5rem;
}

#Spec_Frame > div > div > .price > input {
    padding-left: 5.5rem;
}

#Spec_Frame > .frame > div > div > .input_stock_number {
    padding-left: 8.5rem;
}

#Spec_Frame > .frame > div > div > .input_min_number {
    padding-left: 7.5rem;
}

#Spec_Frame > .frame > div > div > .input_alert_number {
    padding-left: 8.5rem;
}

#ProductForm > .date > input {
    padding-left: 9.5rem;
}

.spec_title {
    line-height: 1.5rem;
    top: -0.75rem;
}

/* TechCert Modal */

#TechCertModal > .modal-dialog, #TagModal > .modal-dialog {
    max-width: 90vw;
    width: 800px;
}
