body {
    .forget-btn {
        background: no-repeat;
        border: none;
    }

    .forget-btn:hover {
        color: #0094ff;
    }

    .offcanvas-top {
        width: 30%;
        height: 60vh;
        top: 20%;
        left: 35%;
    }

    .submit {
        background: #5c636a;
        color: #fff;
        margin-bottom: 16px;
    }

    .submit:hover {
        background: #514d4d;
        color: #fff;
    }
}
